.link {
    width: 190px;
    line-height: 48px;
    background-color: $light-primary;
    color: $white;
    font-size: 1.6rem;
    text-align: center;
    transition: .2s;

    &:hover {
        background-color: $primary;
    }
}

.link-s {
    width: 124px;
    line-height: 36px;
    font-size: 1.4rem;
    @include mobile-sm{
        width: 190px;
        line-height: 48px;
        font-size: 1.6rem;
    }
}