.concepts__list {
    display: flex;
    justify-content: space-between;

    @include mobile-lg {
        flex-direction: column;
        align-items: center;
    }
}

.concept {
    width: calc((100% - 84px) / 3);
    @extend .pb-9;

    @include mobile-lg {
        width: 100%;
        display: flex;
        align-items: center;
        // width: 336px;

    }

    @include mobile-sm {
        flex-direction: column;
    }

    &__pic {
        display: flex;
        height: 200px;

        @include mobile-lg {
            width: 75%;
            height: auto;
        }

        >* {
            margin: auto;
        }


    }

    &__title {
        @extend .h3;
        text-align: center;
        @extend .mb-3;

        // @include mobile-lg {
        //     text-align: left;
        //     padding-left: 28px;
        // }
    }

    &__details {
        @extend .h5,
        .mb-3;
        text-align: center;
        text-align: left;
        @extend .px-7;

        @include mobile-lg {
            padding-left: 8px;
            padding-right: 8px;
            font-size: 14px;
        }

        @include mobile-sm {
            flex-direction: column;
            padding-right: 24px;
            padding-left: 24px;
        }
    }

}