.banner {
    .container {
        height: 700px;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;

        @include mobile-lg {
            height: 650px;
        }

    }

    &__card {
        position: relative;
        background-color: #fff;


        &:after {
            @include pattern(100%);
            bottom: 0;
            left: 0;
            height: 88px;
        }

        @extend .px-6;
    }

    &__card--right {
        position: absolute;
        right: $container-s-unit;
        bottom: 120px;
        z-index: 100;
        @extend .py-8;

        @include notebook {
            right: $container-s-unit-2l;
        }

        @include pad {
            right: $container-s-unit-xl;
        }

        .sm-fluid {
            @include mobile-sm {
                left: 0;
                right: 0;
                margin-left: 0;
                margin-right: 0;

                &:after {
                    height: 39px;
                }

                bottom: 80px;
            }
        }


    }
}



// // ------------------------- material
// .banner--material {
//     background-repeat: no-repeat;
//     background-size: cover;
//     background-position: center center;


//     &--flour {
//         background-image: url('../images/material-1.jpg');
//     }

//     &--ma {
//         background-image: url('../images/material-2.jpg');
//     }

//     &--azuki {
//         background-image: url('../images/material-3.jpg');
//     }

//     &--taro {
//         background-image: url('../images/material-4.jpg');
//     }

//     &--peanut {
//         background-image: url('../images/material-5.jpg');
//     }

// }

// .banner__card--material {
//     width: 360px;
//     height: 100%;
//     padding-top: 100px;
//     margin-left: $container-s-unit;

//     &:after {
//         height: 44px;
//     }

//     @include notebook {
//         margin-left: $container-s-unit-2l;
//     }

//     @include pad {
//         margin-left: $container-s-unit-xl;
//     }

//     @include mobile-lg {
//         width: 320px;
//     }

//     @include mobile-xs {
//         width: 280px;
//     }

// }

// .bao__steam {
//     position: absolute;
//     top: -30%;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     pointer-events: none;
// }
