// -------------------------rank
.cards__list{
    align-items: stretch;
}

.card {
    padding-bottom: 20px;
    background-color: #fff;
    transition: .2s;
    @include mobile-sm{
        padding-right: 10%;
        padding-left: 10%;
    }
    @include mobile-xs{
        padding-right: 5%;
        padding-left: 5%;
    }

    &:hover {
        transform: translateY(-10px);
        @extend .paper;
    }

    &__pic {
        position: absolute;
        top: -40px;
        left: 0;
        right: 0;
        margin: 0 auto;
        transform: translateX(10px);
    }


    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 12px;
        padding-right: 28px;
        padding-left: 28px;
        &__name {
            @extend .h3;

        }

        &__price {
            @extend .h5;
            line-height: 48px;
        }
    }

    &__details {
        @extend .h5;
        margin-bottom: 32px;
        padding-right: 28px;
        padding-left: 28px;
    }

    &__link{
        position: absolute;
        bottom: 20px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
}