.container--introduce {
    background-color: #fff;
    position: relative;
    display: flex;
    align-items: center;
    @extend .container-l,
    .bg-shoadow;
}

.banner {
    .container.container--introduce {
        @include mobile-lg {
            height: auto;
            padding-top: 40px;
            padding-bottom: 40px;
        }
    }
}


.introduce {
    display: flex;
    align-items: center;
    width: 100%;

    @include mobile-lg {
        flex-direction: column;
    }

    &__pic {
        width: 50%;
        margin-right: 60px;

        @include notebook {
            width: 45%;
        }

        @include pad {
            margin-right: 40px;
        }

        @include mobile-lg {
            width: 60%;
            margin-right: 0;
            margin-bottom: 8px;
        }

        @include mobile-md {
            width: 70%;
        }

        @include mobile-sm {
            width: 80%;
        }

        @include mobile-xs {
            width: 100%;
        }

    }

    &__pic__label {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 20px;
    }


    &__pic__img {
        padding-top: 84.7%;
        background-size: cover;
        background-repeat: no-repeat;

        transition: 1s;
        cursor: pointer;



        &--1 {
            padding-top: 100%;
            background-image: url('../../images/1.png');
        }
        &--28 {
            padding-top: 76%;
            background-image: url('../../images/product-large-27.png');
        }

        &--half1 {
            background-image: url('../../images/popular-half-1.png');
        }

        &--shop {
            background-image: url('../../images/shop0.png');
        }
    }


}


.breadcumb {
    top: 24px;

    @include mobile-lg {
        top: 16px;
    }
}

.bao-open {
    animation: baoopen 1s 1 ease-out forwards;
}

.introduce__pic:hover>.bao__steam--first {
    animation: steam-all-up 3.5s -.4s infinite ease-in-out forwards;
}

.introduce__pic:hover>.bao__steam__item {
    animation: steam-item-up 3.5s -.4s infinite ease-in-out forwards;
}

.introduce__pic:hover>.bao__steam--second {
    animation: steam-all-up 3.5s 2s infinite ease-in-out forwards;
}

.introduce__pic:hover>.bao__steam--second .bao__steam__item {
    animation: steam-item-up 3.5s 2s infinite ease-in-out forwards;
}

.introduce__pic:hover>.bao__steam--last {
    animation: steam-all-up 3.5s 5s infinite ease-in-out forwards;
}

.introduce__pic:hover>.bao__steam--last .bao__steam__item {
    animation: steam-item-up 3.5s 5s infinite ease-in-out forwards;
}

@keyframes baoopen {
    0% {
        background-image: url('../../images/1.png');
        ;
    }

    20% {
        background-image: url('../../images/2.png');
        ;
    }

    40% {
        background-image: url('../../images/3.png');
    }

    60% {
        background-image: url('../../images/4.png');
    }

    80% {
        background-image: url('../../images/5.png');
    }

    100% {
        background-image: url('../../images/5.png');
    }

}

.introduce__pic__frame{
    display: none;
}