.header {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 80px;
    padding: 10px 60px;
    margin: 0 auto;
    background: linear-gradient(180deg, #F2F2F2 0%, #FFFDFA 14%, #FFFDFA 65%, $light-gray 100%);

    @include pad {
        padding-right: 20px;
        padding-left: 20px;
    }
}



.nav__list {
    display: flex;
    justify-content: center;
}

@include pad {
    .nav {
        position: fixed;
        top: 80px;
        left: 0;
        width: 100vw;
        background-color: $light-gray;
        z-index: 10;
    }

    .nav__list {
        flex-direction: column;
        display: none;
    }

}


.nav {
    &__item~&__item {
        margin-left: 16px;

        @include pad {
            margin-left: 0;
        }
    }

    &__item:last-child {
        @include pad {
            box-shadow: 5px 5px 10px #ddd;
        }
    }


    &__link {
        padding: 6px 12px;
        @extend .h5;
        letter-spacing: .05rem;
        color: $primary;
        display: flex;
        align-items: center;

        @include pad {
            padding-top: 20px;
            padding-bottom: 20px;
        }

        &__icon {
            @include size(28px, 28px);
            display: block;
            background: url('../../images/azuki-line.svg');
            margin-right: 8px;
        }

        &--active {
            background: #fff;
            font-weight: 500;

            .nav__link__icon {
                background: url('../../images/azuki-dark.svg');
            }
        }

        &:hover {
            background-color: $pain-gray;
        }

        &:hover>img {
            transform: scale(1.08);
        }
    }
}




.menu {
    display: none;
    height: 30px;
    width: 36px;
    // margin-right: 20px;

    @include pad {
        display: block;
    }
}


.menu__link {
    cursor: pointer;

    span,
    span:before,
    span:after {
        height: 3px;
        width: 36px;
        background: $primary;
        position: absolute;
        display: block;
        content: '';
        transition: all 300ms ease-in-out;
    }

    span:before {
        top: 10px;
    }

    span:after {
        top: 20px;
    }

    &.active span {
        background-color: transparent;

        &:before,
        &:after {
            top: 10px;
        }

        &:before {
            transform: rotate(45deg);
        }

        &:after {
            transform: rotate(-45deg);
        }
    }
}




.subnav {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    // width: 871px;
    margin: 0 auto;


    @include mobile-lg {
        // width: 791px;
        overflow-x: scroll;
        overflow-y: hidden;
        justify-content: start;
        padding-left: 20px;
    }



    &__item {
        flex-shrink: 0;
        width: 140px;
        // height: 44px;
        margin-bottom: 20px;
    }

    &__item~&__item {
        margin-left: 52px;

        @include pad {
            margin-left: 32px;
        }
    }



    &__link {
        padding: 6px 12px;
        @extend .h5;
        letter-spacing: .05rem;
        color: $primary;
        display: flex;
        align-items: center;
        white-space:nowrap;

        &:hover {
            background-color: $pain-gray;
        }

        &:hover>img {
            transform: scale(1.08);
        }
        >img{
            pointer-events: none;
        }

        &--active {
            background: #fff;
            font-weight: 500;

            &:hover {
                background-color: #fff;
            }

            &>img {
                pointer-events: none;
                transform: scale(1.08);
            }

        }


    }
}